<!doctype html>
<html lang="en">
<head>
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8"> -->


    <title style="align-items: center; font-weight: bold"> RECOGNIZE YOUR EMOTION </title>
</head>
<body style="background-color:#7DFDFE ;">
    <center>
    <h3 style="font-size:40px ;text-decoration: underline; color: blue" >RECOGNIZE YOUR EMOTION</h3>
           <div style=" align-items : center; padding: 10px ; width:  60% ;height : 300px ;" > 
                    <img src="{{ url_for('video_feed') }}" width="100%">
            </div>   
        </center>    
</body>
